@import "./home";
@import "./search";

body {
  background-color: #cae9ff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.fl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
